// Colors
$white-color: #ffffff;
$primary-dark-color: #2a2b24;

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}

@mixin tablet-lg {
  @media (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

/* Contact */
.section-contact {
  iframe {
    width: 100%;
    height: 800px;
  }
  .wrap-contact {
    background: $white-color;
    right: 10%;
    top: 25%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: $primary-dark-color;
    border-radius: 10px;
    padding: 40px 50px;
    @include mobile {
      right: auto;
      top: 45%;
      margin: 20px;
    }
    h1 {
      font-weight: 700;
    }
    a {
      color: $primary-dark-color;  
    }
    .phone-text {
      font-size: 24px;
    }
  }
}
// Modal form contact
.form-contact {
  border-radius: 10px;
  color: $primary-dark-color;
  .modal-body {
    padding: 40px 50px;
  }
  .form-input {
    outline: 0;
    border-width: 0 0 0.5px;
    border-radius: 0;
    &:focus {
      outline: none;
    }
  }
}
.section-contact-content {
  color: $white-color;
  margin-top: -8px;
  margin-bottom: -80px;
  padding-bottom: 80px;
  padding-top: 80px;
  @include mobile {
    padding-left: 10px;
    padding-right: 10px;
  }
  h1 {
    font-size: 50px;
    @include mobile {
      font-size: 26px;
    }
  }
  p {
    font-size: 26px;
    border-bottom: 1px solid $white-color;
    padding-bottom: 10px;
    @include mobile {
      font-size: 16px;
    }
  }
}
/* End Contact */