// styles.scss

// colours
$white-color: #ffffff;
$primary-dark-color: #2a2b24;
$secondary-dark-color: #434d47;
$gradient-dark-color: linear-gradient(to right, $primary-dark-color, $secondary-dark-color);
$gradient-dark-radial: radial-gradient(circle at top right, $primary-dark-color, $secondary-dark-color 50%);

$primary-gold-color: #937b3d;
$secondary-gold-color: #ecc256;
$gradient-gold-color: linear-gradient(to right, $primary-gold-color, $secondary-gold-color);
$gradient-gold-radial: radial-gradient(circle at top right, $primary-gold-color, $secondary-gold-color 50%);

// fonts
// @mixin font-face($font-name, $font-filename, $font-weight: normal, $font-style: normal) {
//     @font-face {
//       font-family: $font-name;
//       src: url('#{$font-path}#{$font-filename}.otf') format('opentype');
//       font-weight: $font-weight;
//       font-style: $font-style;
//     }
// }
// @include font-face('Avant Garde Gothic', 'SVN-Avant Garde Gothic Demi');
// @include font-face('Avant Garde Gothic', 'SVN-Avant Garde Gothic Demi');
// @include font-face('Avant Garde Gothic', 'SVN-Avant Garde Gothic Demi');
// @include font-face('Avant Garde Gothic', 'SVN-Avant Garde Gothic Demi');


$font-path: '../fonts/';

@mixin font-faces($fonts) {
  @each $font in $fonts {
    $font-name: nth($font, 1);
    $font-filename: nth($font, 2);
    $font-weight: nth($font, 3);
    $font-style: nth($font, 4);

    @font-face {
      font-family: $font-name;
      // src: url('#{$font-path}#{$font-filename}.eot');
      // src: url('#{$font-path}#{$font-filename}.eot?#iefix') format('embedded-opentype'),
      //      url('#{$font-path}#{$font-filename}.woff2') format('woff2'),
      //      url('#{$font-path}#{$font-filename}.woff') format('woff'),
      //      url('#{$font-path}#{$font-filename}.ttf') format('truetype'),
      //      url('#{$font-path}#{$font-filename}.otf') format('opentype');
      src: url('#{$font-path}#{$font-filename}.otf');
      font-weight: $font-weight;
      font-style: $font-style;
    }
  }
}

$fonts: (
  ('HON-Regular', 'SVN-Avant Garde Gothic ExtraLight', lighter, normal),
  ('HON-Regular', 'SVN-Avant Garde Gothic ExtraLight Italic', lighter, italic),
  ('HON-Regular', 'SVN-Avant Garde Gothic Book', normal, normal),
  ('HON-Regular', 'SVN-Avant Garde Gothic Book Italic', normal, italic),
  ('HON-Regular', 'SVN-Avant Garde Gothic Medium', 600, normal),
  ('HON-Regular', 'SVN-Avant Garde Gothic Medium Italic', 600, italic),
  ('HON-Regular', 'SVN-Avant Garde Gothic Demi', bold, normal),
  ('HON-Regular', 'SVN-Avant Garde Gothic Demi Italic', bold, italic),
  ('HON-Regular', 'SVN-Avant Garde Gothic Bold', bolder, normal),
  ('HON-Regular', 'SVN-Avant Garde Gothic Bold Italic', bolder, italic),
  ('HON-Condensed', 'SVN-Avant Garde Gothic Condensed ExtraLight', lighter, normal),
  ('HON-Condensed', 'SVN-Avant Garde Gothic Condensed ExtraLight Italic', lighter, italic),
  ('HON-Condensed', 'SVN-Avant Garde Gothic Condensed Book', normal, normal),
  ('HON-Condensed', 'SVN-Avant Garde Gothic Condensed Book Italic', normal, italic),
  ('HON-Condensed', 'SVN-Avant Garde Gothic Condensed Medium', 600, normal),
  ('HON-Condensed', 'SVN-Avant Garde Gothic Condensed Medium Italic', 600, italic),
  ('HON-Condensed', 'SVN-Avant Garde Gothic Condensed Demi', bold, normal),
  ('HON-Condensed', 'SVN-Avant Garde Gothic Condensed Demi Italic', bold, italic),
  ('HON-Condensed', 'SVN-Avant Garde Gothic Condensed Bold', bolder, normal),
  ('HON-Condensed', 'SVN-Avant Garde Gothic Condensed Bold Italic', bolder, italic)
);

@include font-faces($fonts);

html,
body {
  font-size: 14px;
  font-family: "HON-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  background: $white-color;
}

header {
  font-weight: 600;
  color: $white-color;
  .btn-primary {
    font-weight: 600;
    background: $gradient-dark-color;
    border-color: $primary-dark-color;
    box-shadow: none;
  }
}
#site-header-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 999;
}
#site-header {
  position: relative;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 50rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 50rem;
}