// styles.scss

// colours
$white-color: #ffffff;
$primary-dark-color: #2a2b24;
$secondary-dark-color: #434d47;
$gradient-dark-color: linear-gradient(
  to right,
  $primary-dark-color,
  $secondary-dark-color
);
$gradient-dark-radial: radial-gradient(
  circle at top right,
  $primary-dark-color,
  $secondary-dark-color 50%
);

$primary-gold-color: #937b3d;
$secondary-gold-color: #ecc256;
$gradient-gold-color: linear-gradient(
  to right,
  $primary-gold-color,
  $secondary-gold-color
);
$gradient-gold-radial: radial-gradient(
  circle at top right,
  $primary-gold-color,
  $secondary-gold-color 50%
);

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}

@mixin tablet-lg {
  @media (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

$font-path: "../fonts/";

@mixin font-faces($fonts) {
  @each $font in $fonts {
    $font-name: nth($font, 1);
    $font-filename: nth($font, 2);
    $font-weight: nth($font, 3);
    $font-style: nth($font, 4);

    @font-face {
      font-family: $font-name;
      src: url("#{$font-path}#{$font-filename}.otf") format('opentype');
      font-weight: $font-weight;
      font-style: $font-style;
    }
  }
}

$fonts: (
  ("HON-Regular", "SVN-Avant Garde Gothic ExtraLight", 100, normal),
  ("HON-Regular", "SVN-Avant Garde Gothic ExtraLight Italic", 100, italic),
  ("HON-Regular", "SVN-Avant Garde Gothic Book", 400, normal),
  ("HON-Regular", "SVN-Avant Garde Gothic Book Italic", 400, italic),
  ("HON-Regular", "SVN-Avant Garde Gothic Medium", 600, normal),
  ("HON-Regular", "SVN-Avant Garde Gothic Medium Italic", 600, italic),
  ("HON-Regular", "SVN-Avant Garde Gothic Demi", 700, normal),
  ("HON-Regular", "SVN-Avant Garde Gothic Demi Italic", 700, italic),
  ("HON-Regular", "SVN-Avant Garde Gothic Bold", 900, normal),
  ("HON-Regular", "SVN-Avant Garde Gothic Bold Italic", 900, italic),
  (
    "HON-Condensed",
    "SVN-Avant Garde Gothic Condensed ExtraLight",
    100,
    normal
  ),
  (
    "HON-Condensed",
    "SVN-Avant Garde Gothic Condensed ExtraLight Italic",
    100,
    italic
  ),
  ("HON-Condensed", "SVN-Avant Garde Gothic Condensed Book", 400, normal),
  (
    "HON-Condensed",
    "SVN-Avant Garde Gothic Condensed Book Italic",
    400,
    italic
  ),
  ("HON-Condensed", "SVN-Avant Garde Gothic Condensed Medium", 600, normal),
  (
    "HON-Condensed",
    "SVN-Avant Garde Gothic Condensed Medium Italic",
    600,
    italic
  ),
  ("HON-Condensed", "SVN-Avant Garde Gothic Condensed Demi", 700, normal),
  (
    "HON-Condensed",
    "SVN-Avant Garde Gothic Condensed Demi Italic",
    700,
    italic
  ),
  ("HON-Condensed", "SVN-Avant Garde Gothic Condensed Bold", 900, normal),
  (
    "HON-Condensed",
    "SVN-Avant Garde Gothic Condensed Bold Italic",
    900,
    italic
  )
);

@include font-faces($fonts);

// Animation - start
@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
// Animation - end

html,
body {
  font-size: 14px;
  font-family: "HON-Regular", "HON-Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: $white-color;
  letter-spacing: 0.8px;
}

/* Navbar section */
.nav-header {
  width: 100%;
  height: 70px;
  position: fixed;
  line-height: 70px;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 999;

  div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    line-height: 65px;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 2.5rem;
      :hover {
        color: #00E676;
      }

      img {
        height: 70px;
      }
    }
  }

  div.main_list {
    height: 70px;
    float: right;

    ul {
      width: 100%;
      height: 70px;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: auto;
        height: 65px;
        padding: 0;
        padding-right: 3rem;

        a {
          text-decoration: none;
          color: #fff;
          line-height: 75px;
          font-size: 1.2rem;
          &.btn {
            line-height: normal;
            &.btn-primary {
              background: $gradient-dark-radial;
              border: $primary-dark-color;
            }
          }

          &:hover {
            color: $secondary-gold-color;
          }
        }
      }
    }
  }
}

.affix {
  padding: 0;
  background: $gradient-dark-color;

  div.logo a img {
    height: 65px;
  }

  .btn.btn-primary {
    background: $gradient-gold-radial !important;
    border: $primary-gold-color !important;
  }
}

.navTrigger {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;

  i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
  }

  i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }

  i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }

  i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
}

.navTrigger.active {
  i {
    background-color: $secondary-gold-color;
  }
  i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
  }

  i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
  }

  i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
      margin: 0;
  }
}

@media screen and (max-width:768px) {
  .navTrigger {
    display: block;
  }
  .nav-header {
    height: 65px;
    padding: 0;
    div.logo {
      padding-left: 0;
      margin-left: 15px;
      line-height: 62px;
      a img {
        height: 7vh;
      }
    }
    div.main_list {
      width: 100%;
      height: 0;
      overflow: hidden;

      ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background: $gradient-dark-color;
        background-position: center top;
        padding-top: 65px;

        li {
          width: 100%;
          text-align: right;

          a {
            text-align: center;
            width: 100%;
            font-size: 3rem;
            padding: 20px;
          }
        }
      }
    }
    div.show_list {
      height: auto;
      display: none;
      position: fixed;
      left: 0;
      opacity: 0.94;

      a.btn {
        width: 85%;
        margin-top: 30px;
        background: $gradient-gold-radial !important;
        border: $primary-gold-color !important;
      }
    }
    div.media_button {
      display: block;
    }
  }
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 50rem;
  @include mobile {
    height: 40rem;
  }
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 70rem;
  @include mobile {
    height: inherit;
  }
}

/* Since positioning the image, we need to help out the caption */
.custom-caption {
  z-index: 10;
  right: 0;
  top: 26%;
  left: 7%;
  @include mobile {
    top: 20%;
  }
  .title-carousel {
    font-size: 84px;
    font-weight: 600;
    @include mobile {
      font-size: 40px;
      margin-top: 20px;
    }
    @include tablet {
      font-size: 68px;
    }
  }
  .sub-title {
    font-size: 36px;
    font-weight: 400;
    @include tablet {
      font-size: 24px;
    }
    @include mobile {
      font-size: 16px;
    }
  }
  .explore-button {
    color: $white-color;
    font-size: 26px;
    font-weight: 600;
    border: 3px solid $primary-gold-color;
    width: max-content;
    height: max-content;
    padding: 40px 30px 40px 17px;
    background: $gradient-dark-color;
    line-height: 2rem;
    @include mobile {
      padding: 22px 15px 15px 15px;
      font-size: 18px;
      margin-right: 10px;
    }
    @include tablet {
      margin-right: 10px;
      padding: 30px 15px 30px 15px;
      font-size: 24px;
    }
    .note-icon {
      background: #514935;
      border: 3px solid $primary-gold-color;
      width: 50px;
      height: 50px;
      line-height: 40px;
      top: -12px;
      right: -5px;
      @include mobile {
        width: 35px;
        height: 35px;
        line-height: 28px;
        top: -7px;
        right: -10px;
      }
      @include tablet {
        width: 40px;
        height: 40px;
        line-height: 30px;
        top: -10px;
        right: -5px;
      }
    }
  }
  .btn-date {
    background: $gradient-dark-color;
    border: none;
    color: $white-color;
    @include mobile {
      font-size: 10px;
    }
  }
  .footer-carousel {
    .commit-text {
      font-size: 20px;
    }
    .custom-description {
      border-left: 1px solid #6e6e6e;
      padding-left: 20px;
      font-size: 14px;
      font-weight: 100;
    }
    .custom-social {
      width: 34px;
      height: 34px;
      border: 0.5px solid $white-color;
      line-height: 30px;
    }
  }
}
// Handle dots of carousel
.carousel-indicators {
  left: 45%;
  bottom: 30px;
  z-index: 99;
  .number-text {
    color: $white-color;
  }
  .active {
    background: $secondary-gold-color;
    background-clip: padding-box;
  }
}

// Section Best soil amendment in the world
.section-best-soil {
  h1 {
    font-size: 50px;
    font-weight: 600;
  }
}

// Section Play Video
.section-video {
  margin-top: 80px;
  cursor: pointer;
  .modal-dialog {
    .modal-content {
      background: none;
      border: none;
      iframe {
        height: 30rem;
      }
    }
    .wrap-button-close {
      position: absolute;
      @include mobile {
        right: 0px;
        top: 28px;
      }
      .btn-close {
        cursor: pointer;
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fc0'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
      }
    }
  }
  .wrap-content {
    background-image: url('../images/home/Image\ HON\ mine\ 09\ -\ By\ Sonny\ -\ May\ 8\ 2023\ -\ 04.jpg');
    width: 100%;
    height: 45rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include tablet {
      height: 35rem;
    }
    @include mobile {
      height: 30rem;
    }
    h2 {
      bottom: 30px;
      color: #cdcdcd;
      left: 100px;
      font-size: 40px;
      font-weight: 600;
      @include tablet {
        left: 50px;
        font-size: 28px;
      }
      @include mobile {
        left: 20px;
        font-size: 24px;
      }
    }
    .play-button {
      cursor: pointer;
      top: 50%;
      left: 50%;
      bottom: auto;
      transform: translate(-50%, -50%);
      img {
        width: 80px;
        @include mobile {
          width: 60px;
        }
      }
    }
  }
}

// Section story about Hon
.section-story {
  margin-top: 80px;
  .left-item {
    .wrap-bg {
      background-image: url('../images/home/Image\ HON\ mine\ 02\ -\ By\ Sonny\ -\ May\ 8\ 2023\ -\ 02.jpg');
      height: 40rem;
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
          rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
          rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
      @include mobile {
        height: 30rem;
        margin-left: 15px;
        margin-right: 15px;
      }
      @include tablet {
        height: 30rem;
        margin-left: 15px;
        margin-right: 15px;
      }
      .text-custom {
        color: $white-color;
        padding: 40px;
        .title {
          font-size: 60px;
          font-weight: 600;
          line-height: 40px;
          @include mobile {
            font-size: 54px;
          }
          span {
            font-size: 30px;
            font-weight: 400;
          }
        }
        .description {
          font-size: 16px;
          width: 70%;
          @include mobile {
            font-size: 12px;
            width: 90%;
          }
        }
      }
    }
    .bg-absolute {
      background: #d5d9d8;
      padding: 48px;
      border-bottom-left-radius: 20px;
      @include mobile {
        display: none;
      }
      @include tablet {
        display: none;
      }
    }
  }
  .right-item {
    .wrap-content {
      height: 40rem;
      @include mobile {
        height: 15rem;
        margin-left: 15px;
        margin-right: 15px;
        background-color: #d5d9d8;
      }
      @include tablet {
        height: 20rem;
        margin-left: 15px;
        margin-right: 15px;
      }
      .hon-title {
        font-size: 80px;
        font-weight: 500;
        color: $primary-gold-color;
        @include mobile {
          font-size: 60px;
        }
      }
      .description {
        font-size: 26px;
        color: $primary-gold-color;
        @include mobile {
          font-size: 20px;
        }
      }
    }

  }

  .text-story {
    background: $gradient-dark-radial;
    color: $white-color;
    padding: 32px;
    font-size: 20px;
    width: 100%;
    @include mobile {
      font-size: 16px;
      padding: 20px;
    }
    a {
      color: $white-color;
      text-decoration-line: none;
      &:hover {
        color: $secondary-gold-color;
      }
    }
  }
}

// Section contact
.section-contact {
  margin-top: 80px;
  .button-contact {
    background: $secondary-gold-color;
    color: $primary-dark-color;
    border: none;
    padding: 10px 40px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }
}

// Footer
footer {
  padding-bottom: 30px;
  color: $primary-dark-color;
  margin-top: 80px;
  .container {
    border-top: 1px solid #c3c3c3;
    padding-top: 30px;
    a {
      text-decoration: none;
      color: $primary-dark-color;
      font-weight: 400;
      &:hover {
        color: $secondary-gold-color;
      }
    }
    .social {
      width: 34px;
      height: 34px;
      border: 0.5px solid $white-color;
      line-height: 30px;
      background: $primary-dark-color;
    }
    .custom-gap-3 {
      @include mobile {
        gap: 20px;
      }
      @include tablet {
        gap: 20px;
      }
    }
  }
}
.footer-black {
  background: $gradient-dark-radial;
  color: $white-color;
  padding-top: 30px;
  .container {
    a {
      color: $white-color;
      &:hover {
        color: $secondary-gold-color;
      }
    }
  }
}

/* About Us */
.section-banner {
  color: $white-color;
  .custom-content-banner {
    .img-banner {
      height: 50rem;
    }
    .banner-title {
      z-index: 10;
      right: 0;
      top: 30%;
      left: 7%;
      h1 {
        font-size: 100px;
        font-weight: 600;
      }
      .sub-title {
        font-size: 48px;
        font-weight: 400;
      }
    }
  }
  .list-social {
    bottom: 10%;
    right: 7%;
    .custom-social {
      width: 34px;
      height: 34px;
      border: 0.5px solid $white-color;
      line-height: 30px;
    }
  }
}

.section-company-history {
  margin-top: 80px;
  .owl-carousel-company-history {
    margin-top: 40px;
    @include mobile {
      margin-top: 0;
    }
    .item-card {
      .wrap-content {
        img {
          height: 300px;
          border-radius: 10px;
        }
        .insert-text {
          top: 30px;
          left: 30px;
          width: 70%;
          color: $white-color;
          h1 {
            font-weight: 700;
            font-size: 48px;
          }
        }
        button {
          bottom: 30px;
          left: 30px;
        }
      }
    }
  }
}

.section-leadership {
  margin-top: 80px;
  background: $gradient-dark-radial;
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .owl-carousel-leadership {
    margin-top: 40px;
    .item-card {
      .wrap-content {
        img {
          border-radius: 10px;
        }
        .insert-text {
          width: 70%;
          color: $white-color;
        }
      }
    }
  }
}

.section-business {
  margin-top: 80px;
  .card-leadership {
    margin-top: 60px;
    margin-bottom: 20px;
    @include mobile {
      margin-top: 0;
    }
    .custom-text {
      @include mobile {
        text-align: center;
      }
      @include tablet-lg {
        margin-top: 15px;
      }
    }
    .left-leadership {
      height: 32rem;
      right: 5%;
      color: $white-color;
      @include tablet {
        right: auto;
        height: 34rem;
      }
      @include mobile {
        right: auto;
        height: 34rem;
      }
      .custom-card-1 {
        right: 130px;
        top: 55px;
        .img-card-1 {
          border-radius: 15px;
          width: 300px;
          height: 350px;
        }
      }
      .custom-card-2 {
        right: 70px;
        top: 30px;
        .img-card-2 {
          border-radius: 15px;
          width: 320px;
          height: 400px;
        }
      }
      .custom-card-3 {
        right: 0;
        @include mobile {
          left: 0;
        }
        @include tablet {
          left: 0;
        }
        .img-card-3 {
          border-radius: 15px;
          width: 350px;
          height: 450px;
          @include mobile {
            width: 100%;
          }
        }
      }
      .title-leadership {
        top: 20px;
        left: 20px;
        @include mobile {
          width: 80%;
          bottom: 15px;
          top: auto;
          text-align: left;
        }
        @include tablet {
          width: 60%;
          bottom: 20px;
          top: auto;
        }
      }
    }
  }
  .owl-nav {
    margin-top: 20px;
    display: block;
    button.owl-next, button.owl-prev {
      padding: 4px 12px !important;
      font-size: 16px;
      margin: 10px;
      &:hover {
        background: $secondary-gold-color;
        color: $primary-dark-color;
      }
    }
  }
  .owl-dots {
    display: none;
  }
}
.business-detail {
  .card-leadership {
    .left-leadership {
      height: 35rem !important;
    }
  }
  .img-detail-1 {
    border-radius: 15px;
    width: 100%;
    height: 500px;
  }
  .play-button {
    position: absolute;
    width: 60px;
    top: 48%;
    left: 45%;
    cursor: pointer;
  }
  .modal-dialog {
    max-width: 75% !important;
    .modal-content {
      iframe {
        height: 500px;
      }
    }
  }
  .sub-card {
    .overflow-auto {
      padding-bottom: 10px;
      &::-webkit-scrollbar {
        height: 5px;
      }
      &::-webkit-scrollbar-track {
        background: $white-color;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
    .img-sub-detail {
      border-radius: 15px;
      width: 150px;
      height: 200px;
    }
    .title-sub-detail {
      color: $white-color;
      top: 10px;
      left: 10px;
    }
  }
  .text-story {
    background: $primary-dark-color;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    width: 100%;
    a {
      color: #fff;
      text-decoration-line: none;
      &:hover {
        color: $primary-gold-color;
      }
    }
  }
}
.section-respond {
  margin-top: 80px;
  background: $gradient-dark-radial;
  color: $white-color;
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .custom-respond {
    margin-top: 40px;
    @include tablet {
      margin-top: 0;
    }
    @include mobile {
      margin-top: 0;
    }
    p {
      font-weight: 300;
    }
    .custom-btn {
      @include mobile {
        text-align: center;
      }
    }
    .btn-see-more {
      text-align: center;
    }
    img {
      border-radius: 15px;
      height: 250px;
      @include tablet {
        margin-bottom: 20px;
      }
      @include tablet-lg {
        margin-bottom: 20px;
      }
      @include mobile {
        margin-bottom: 20px;
      }
    }
    .text-custom {
      top: 0;
      padding: 40px;
      z-index: 1;
      .title {
        font-size: 60px;
        font-weight: 600;
        @include mobile {
          line-height: 40px;
          text-align: left;
        }
        @include tablet {
          line-height: 40px;
          text-align: left;
        }
        span {
          font-size: 34px;
          font-weight: 400;
        }
      }
    }
    .content {
      opacity: 0.8;
    }
  }
}

.section-development {
  margin-top: 80px;
  .custom-carousel-development {
    color: $white-color;
    margin-top: 40px;
    .item-card {
      .card {
        background: #4f5c54;
        border-radius: 10px;
        .card-header {
          font-size: 20px;
          font-weight: 600;
          background: #58655e;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: 20px 40px;
          @include mobile {
            font-size: 16px;
          }
        }
        .card-body {
          padding: 20px 40px;
          .card-text {
            font-size: 13px;
            font-weight: 300;
          }
          img {
            border-radius: 15px;
          }
        }
      }
    }
  }
}

.section-employment {
  margin-top: 80px;
  background: $gradient-dark-radial;
  color: $white-color;
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
    @include tablet {
      padding-top: 40px;
      padding-bottom: 0;
    }
    @include mobile {
      padding-top: 40px;
      padding-bottom: 0;
    }
  }
  h1 {
    @include tablet {
      text-align: center;
    }
    @include mobile {
      text-align: center;
    }
  }
  .description {
    padding-top: 80px;
    font-size: 13px;
    font-weight: 300;
    @include tablet {
      padding-top: 0;
      padding-bottom: 40px;
    }
    @include mobile {
      padding-top: 0;
      padding-bottom: 40px;
    }    
  }
}

.section-customers {
  margin-top: 80px;
  .owl-carousel-customers {
    margin-top: 80px;
    @include mobile {
      margin-top: 0;
    }
    .wrap-customers {
      img {
        width: 200px;
        height: 160px;
        border: 2px solid #d1d1d1;
      }
    }
  }
  .description {
    margin-top: 40px;
  }
}
// Modal tabs
.modal-tabs {
  .modal-content {
    background: #4f5c54;
    color: $white-color;
    .modal-header {
      border-bottom: 1px solid #8f8f8f;
      padding: 1rem 2rem;
    }
  }
}

// Modal company history
.modal-company-history {
  .show-company-detail {
    color: $primary-dark-color;
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
    opacity: 0.6;
    &:hover {
      color: $primary-dark-color;
      opacity: 0.8;
    }
  }
  .wrap-company-detail {
    .company-title {
      font-size: 28px;
      font-weight: 700;
    }
    .company-description {
      font-size: 13px;
    }
  }
}
// Custom Modal
.modal-dialog-scrollable {
  font-weight: 400;
  .modal-body {
    padding: 1rem 2rem;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #a8a8a8;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  .modal-footer {
    border-top: none;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 575px) {
  .modal-dialog-scrollable {
    margin-right: 10px;
    margin-left: 10px;
  }
}
/* End About Us */
/* Products */
.section-about-product {
  margin-top: 80px;
  @include mobile {
    margin-top: 40px;
  }
  h1 {
    font-weight: 700;
  }
  .right-content {
    width: 40%;
    @include mobile {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.section-products {
  .custom-img-product {
    @include tablet {
      text-align: center;
      margin-bottom: 20px;
    }
    @include mobile {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
.section-natural {
  margin-top: 80px;
  .wrap-left {
    width: 100%;
    .left-img {
      width: 48%;
      @include mobile {
        width: 45%;
      }
    }
    .right-img {
      width: 48%;
      @include mobile {
        width: 45%;
      }
    }
  }
  .img-1 {
    height: 450px;
    @include mobile {
      height: 280px;
    }
  }
  .img-2 {
    width: 250px;
    height: 200px;
    @include mobile {
      width: 140px;
      height: 140px;
    }
  }
  .img-3 {
    width: 250px;
    height: 240px;
    @include mobile {
      width: 140px;
      height: 130px;
    }
  }
  img {
    border-radius: 15px;
    @include mobile {
      border-radius: 35px;
    }
  }
  .wrap-content {
    @include tablet {
      margin-top: 30px;
    }
    @include mobile {
      margin-top: 20px;
    }
    h1 {
      font-weight: 700;
    }
  }
  .wrap-button {
    background: $gradient-dark-radial;
    color: #fff !important;
    padding: 15px 40px;
    a {
      color: #fff;
      font-size: 24px;
      text-decoration: none;
      @include mobile {
        font-size: 18px;
      }
      &:hover {
        color: $secondary-gold-color;
      }
    }
  }
}
.section-product-collapse {
  margin-top: 40px;
  .product-item {
    .border-bottom {
      border-bottom: 2px solid #dee2e6 !important;
      padding-top: 10px;
      @include mobile {
        border-bottom: 2px solid $primary-dark-color !important;
      }
    }
    .link-product-detail {
      color: $primary-dark-color;
      font-size: 24px;
      text-decoration: none;
      font-weight: 600;
      opacity: 0.8;
      @include mobile {
        font-size: 16px;
      }
      .p-number {
        font-size: 16px;
        @include mobile {
          font-size: 13px;
        }
      }
      &:hover {
        color: $primary-dark-color;
        opacity: 0.8;
      }
    }
    .wrap-product-detail {
      margin-top: 20px;
      border-radius: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      padding: 40px;
      .wrap-content {
        .product-title {
          font-size: 36px;
          font-weight: 600;
          @include tablet {
            font-size: 24px;
          }
          @include mobile {
            font-size: 20px;
          }
        }
        .product-description {
          font-size: 13px;
        }
      }
    }
  }
}

// Product detail
.product-line-detail {
  color: $white-color;
  .product-content {
    background: #4f5c54;
    padding: 20px 40px 20px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @include tablet-lg {
      padding: 20px;
    }
    @include tablet {
      padding: 0;
    }
    @include mobile {
      padding: 0;
    }
    .product-description {
      width: 80%;
    }
    .title {
      font-size: 18px;
      font-weight: 600;
    }
    .description {
      margin-top: 20px;
      font-size: 13px;
      font-weight: 300;
    }
    .list-attachments {
      gap: 5px;
      font-size: 13px;
      margin-top: 20px;
      .attachment-text {
        color: $white-color;
        font-weight: 400;
        text-decoration: none;
        &:hover {
          color: $secondary-gold-color;
        }
      }
    }
    .product-img-mobile {
      @include tablet {
        padding: 25px;
      }
      @include mobile {
        padding: 25px;
      }
      .carousel {
        margin-bottom: 0;
      }
    }
    .product-carousel {
      height: 30rem;
      @include tablet-lg {
        height: 20rem;
      }
      .carousel-item {
        height: 30rem;
        @include tablet-lg {
          height: 20rem;
        }
      }
      .carousel-control-prev {
        left: -12%;
      }
      .carousel-control-next {
        right: -12%;
      }
      img {
        height: 30rem;
        @include tablet-lg {
          height: 20rem;
        }
      }
    }
  }
  .btn-close {
    color: $white-color !important;
  }
}
// End product detail

.section-testimonials {
  margin-top: 80px;
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
    @include tablet {
      padding-top: 40px;
      padding-bottom: 0;
    }
    @include mobile {
      padding-top: 40px;
      padding-bottom: 0;
    }
  }
  .custom-carousel-testimonials {
    color: $white-color;
    margin-top: 40px;
    @include mobile {
      margin-top: 10px;
    }
    .item-card {
      .card {
        background: #4f5c54;
        border-radius: 10px;
        .card-header {
          font-size: 16px;
          font-weight: 600;
          background: #58655e;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: 20px 40px;
        }
        .card-body {
          padding: 20px 40px;
          .card-text {
            font-size: 13px;
            font-weight: 300;
          }
        }
      }
    }
  }
}
.section-organic {
  margin-top: 80px;
  color: $primary-dark-color;
  .description {
    padding-top: 40px;
    font-size: 16px;
    font-weight: 400;
    @include mobile {
      margin: 0 !important;
      padding: 0 !important;
      text-align: left !important;
    }
  }
}
/* Producs */

/* Media */
// press releases shared with applications Scope of usage
.section-press-releases {
  margin-top: 80px;
  .custom-carousel-press {
    color: $primary-dark-color;
    margin-top: 40px;
    .item-card {
      padding: 17px;
      cursor: pointer;
      .card {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        &:hover {
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        }
        background: $white-color;
        border-radius: 10px;
        .card-header {
          font-size: 16px;
          font-weight: 600;
          background: $white-color;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: 20px 40px;
        }
        .card-body {
          padding: 20px 40px;
          .card-text {
            font-size: 13px;
          }
        }
      }
    }
  }
}
.section-insider {
  margin-top: 80px;
  background: $gradient-dark-radial;
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .custom-carousel-insider {
    color: $white-color;
    margin-top: 40px;
    .item-card {
      .card {
        background: #4f5c54;
        border-radius: 10px;
        .card-header {
          font-size: 14px;
          font-weight: 600;
          background: #58655e;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: 20px 40px;
        }
        .card-body {
          padding: 20px 40px;
          .card-text {
            font-size: 13px;
            font-weight: 400;
          }
          img {
            border-radius: 15px;
          }
        }
      }
    }
  }
}
.section-events {
  margin-top: 80px;
  .card-leadership {
    margin-top: 60px;
    @include mobile {
      margin-top: 20px;
    }
    .left-leadership {
      height: 32rem;
      right: 5%;
      color: $white-color;
      @include mobile {
        height: 29rem;
        left: 0;
      }
      .custom-card-1 {
        right: 130px;
        top: 55px;
        @include mobile {
          display: none;
        }
        .img-card-1 {
          border-radius: 15px;
          width: 300px;
          height: 350px;
          @include mobile {
            display: none;
          }
        }
      }
      .custom-card-2 {
        right: 70px;
        top: 30px;
        @include mobile {
          display: none;
        }
        .img-card-2 {
          border-radius: 15px;
          width: 320px;
          height: 400px;
          @include mobile {
            display: none;
          }
        }
      }
      .custom-card-3 {
        right: 0;
        @include mobile {
          left: 50%;
          transform: translate(-50%, 0%);
          right: auto;
        }
        .img-card-3 {
          border-radius: 15px;
          width: 350px;
          height: 450px;
          @include mobile {
            width: 300px;
            height: 400px;
          }
        }
      }
      .title-leadership {
        top: 20px;
        left: 20px;
        font-size: 24px;
      }
    }
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 13px;
    }
  }
  .event-title {
    color: $secondary-dark-color;
    &:hover {
      color: $primary-dark-color;
    }
  }
  .owl-nav {
    margin-top: 20px;
    display: block;
    button.owl-next, button.owl-prev {
      padding: 4px 12px !important;
      font-size: 16px;
      margin: 10px;
      &:hover {
        background: $secondary-gold-color;
        color: $primary-dark-color;
      }
    }
  }
  .owl-dots {
    display: none;
  }
}
// Press detail modal
.modal-press {
  color: $primary-dark-color;
  .modal-body, .modal-footer {
    background: $white-color;
  }
}
// Modal insider
.modal-insider {
  .modal-content {
    color: $white-color;
  }
}
// Modal event
.modal-event {
  .modal-content {
    background: $white-color;
    color: $primary-dark-color;
    border-radius: 10px;
    .modal-header {
      border-bottom: 1px solid #8f8f8f;
      padding: 1rem 2rem;
      .modal-title {
        font-size: 16px;
      }
    }
    .modal-body {
      .content {
        .image {
          display: flex;
          justify-content: center;
          img {
            border-radius: 10px;
            width: 50%;
            @include mobile {
              width: 100%;
            }
          }
        }
        .main {
          margin-top: 20px;
          .part {
            margin-top: 15px;
            margin-bottom: 15px;
            h1 {
              font-weight: 600;
              @include mobile {
                font-size: 18px;
              }
            }
            h4 {
              padding-bottom: 10px;
              border-bottom: 1px solid $primary-dark-color;
              font-size: 16px;
              font-weight: 600;
            }
            p {
              margin-top: 10px;
              line-height: 25px;
              @include mobile {
                font-size: 13px;
              }
            }
            .part-content {
              display: flex;
              gap: 20px;
              p {
                line-height: 20px;
                @include mobile {
                  font-size: 13px;
                }
              }
            }
          }
        }
        .form {
          h3 {
            font-weight: 700;
            font-size: 30px;
            text-align: center;
            margin-bottom: 70px;
            @include mobile {
              margin-bottom: 10px;
              font-size: 24px;
            }
          }
          form {
            input.form-control {
              outline: 0;
              border-width: 0 0 0.5px;
              border-color: #818181;
              border-radius: 0;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}
// Modal confirm event
.modal-confirm-event {
  font-weight: 400;
  font-family: sans-serif;
  .modal-body {
    padding: 1rem 2rem;
    span {
      font-weight: 600;
    }
  }
}
.bg-modal-header {
  background: #58655e;
}
.bg-modal-content {
  background: #4f5c54;
}
// End Press detail
.section-subscribe {
  color: $white-color;
  margin-top: 80px;
  margin-bottom: -80px;
  padding-bottom: 80px;
  padding-top: 80px;
  p {
    font-size: 13px;
  }
  .input-subscribe {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #c3c3c3;
    color: $white-color;
    padding: 10px;
    width: 300px;
    &::placeholder {
      color: $white-color;
      font-style: italic;
    }
  }
  .btn-subscribe {
    padding: 7px 25px;
  }
}
/* End media */

/* Applications */
.section-application-reports {
  color: $white-color;
  margin-top: 80px;
  margin-bottom: -80px;
  padding-bottom: 80px;
  padding-top: 80px;
}
/* End Applications */
/* Documents */
.section-report-releases {
  .nav-link {
    color: $primary-dark-color !important;
    opacity: 0.6 !important;
    &:hover {
      color: $primary-dark-color !important;
      opacity: 1 !important;
    }
  }
  .active {
    color: $primary-dark-color !important;
    opacity: 1 !important;
  }
  .card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background: $white-color !important;
    border-radius: 5px;
    .card-header {
      font-size: 20px !important;
      font-weight: 600;
      background: $white-color !important;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 20px !important;
      @include mobile {
        font-size: 16px !important;
      }
    }
  }
}
.modal-document {
  .modal-content {
    background: $white-color !important;
    color: $primary-dark-color;
  }
}
/* End Documents */

/* Handbook guidelines */
.section-commit {
  .card-commit {
    background: $white-color;
    opacity: 0.9;
    top: 40%;
    padding: 60px;
    width: 70%;
    border-radius: 10px;
    .description {
      .text {
        opacity: 0.9;
      }
    }
  }
}
/* End Handbook guidelines */

/* Shared */
// Section tabs
.bg-section-dark {
  background: $gradient-dark-radial;
}
.bg-tabs-white {
  background: #ddd;
}
.height-tabs-400 {
  height: 400px !important;
  @include mobile {
    height: 350px !important;
  }
}
.section-tabs {
  margin-top: 80px;
  padding: 40px;
  @include mobile {
    padding: 20px;
  }
  .tabs-custom {
    @include tablet {
      flex-flow: column;
    }
    @include mobile {
      flex-flow: column;
      padding-top: 0 !important;
    }
    .wrap-tab-lists {
      overflow: auto;
      height: 600px;
      flex-flow: column;
      @include mobile {
        padding-right: 40px;
        height: 350px;
      }
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background: #a8a8a8;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
    .tabs-lists {
      .nav-link {
        font-weight: 600;
        width: 80%;
        @include mobile {
          width: 100%;
          font-size: 18px;
          padding-left: 5px;
        }
        .number {
          font-size: 14px;
          @include mobile {
            font-size: 13px;
          }
        }
        font-size: 24px;
        border-radius: 0;
        color: $white-color;
        opacity: 0.5;
        padding: 30px 0;
        &.active {
          color: $white-color;
          opacity: 1;
          background: none;
        }
      }
      .border-bottom {
        border-bottom: 1px solid $white-color;
      }
    }
    .icon-arrows {
      left: -35px;
      top: 40%;
      @include tablet {
        top: 21%;
        left: -30px;
      }
      @include mobile {
        top: 21%;
        left: -15px;
        width: 12px;
      }
    }
    .tab-content {
      margin-top: 30px;
      color: $white-color;
      .card {
        background: #4f5c54;
        border-radius: 10px;
        .card-header {
          font-size: 20px;
          font-weight: 600;
          background: #58655e;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: 20px 40px;
          @include mobile {
            padding: 15px 20px;
            font-size: 16px;
          }
        }
        .card-body {
          padding: 20px 40px;
          @include mobile {
            padding: 15px 20px;
          }
          .card-title {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 15px;
            @include mobile {
              font-size: 16px;
            }
          }
          .card-text {
            font-weight: 300;
            font-size: 13px;
          }
          .action {
            @include mobile {
              flex-flow: column;
              gap: 20px;
            }
            .avatar {
              img {
                border: 4px solid #cecece;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
                  rgba(0, 0, 0, 0.22) 0px 10px 10px;
              }
            }
          }
        }
      }
    }
  }
}
// Button see more
.btn-see-more {
  background: $secondary-gold-color;
  color: $primary-dark-color;
  border: none;
  padding: 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  &:hover {
    background: #d5ab3e;
  }
}
// Dots Owl Carousel
.owl-theme .owl-dots .owl-dot.active span {
  width: 35px;
  height: 3px;
  margin: 3px;
  background: #ecc256;
}

.owl-theme .owl-dots .owl-dot span {
  width: 35px;
  height: 3px;
  margin: 3px;
  background: #5c5c5c;
}

.owl-nav {
  display: none;
}

.owl-dots {
  margin-top: 40px;
}
// background white of title in section
.wrap-row-white {
  border-bottom: 1px solid #6c6c6c;
  padding-bottom: 20px;
  align-items: center;
  @include tablet {
    border-bottom: none;
  }
  @include mobile {
    border-bottom: none;
  }
  h1 {
    font-weight: 600;
  }
  .right-content-gray {
    color: #6c6c6c;
    text-align: right;
    @include tablet {
      text-align: left;
    }
    @include mobile {
      text-align: left;
    }
  }
}
// background black of title in section
.wrap-row-black {
  border-bottom: 1px solid $white-color;
  padding-bottom: 20px;
  align-items: center;
  color: $white-color;
  @include tablet {
    border-bottom: none;
  }
  @include mobile {
    border-bottom: none;
  }
  h1 {
    font-weight: 600;
  }
  .right-content-white {
    text-align: right;
    @include tablet {
      text-align: left;
    }
    @include mobile {
      text-align: left;
    }
  }
}
// Tabs horizontally
.border-right-gray {
  border: 1px solid #8b8b8b;
}
.custom-tabs {
  .rounded-custom {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .nav-pills {
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    white-space: nowrap;
    &::-webkit-scrollbar {
      height: 4px;
    }
    &::-webkit-scrollbar-track {
      background: #b8b8b8;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .header-link {
      padding: 20px;
      @include mobile {
        padding: 15px 17px;
      }
    }
  }
  .tab-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .custom-card {
      .card-body {
        padding: 30px;
      }
      .card-text {
        font-weight: 300;
        font-size: 13px;
      }
    }
  }
}
.bg-tabs-header-dark {
  background: #58655e;
  .active {
    color: $white-color !important;
  }
  .header-link {
    text-decoration: none;
    color: #c3c3c3;
    &:hover {
      color: $white-color !important;
    }
  }
}
.bg-tabs-content-dark {
  background: #4f5c54;
  .card-body {
    color: $white-color;
  }
}
.bg-tabs-header-white {
  background: #f7f7f7;
  .active {
    color: $primary-dark-color !important;
  }
  .header-link {
    text-decoration: none;
    color: #a9a9a9;
    &:hover {
      color: $secondary-dark-color !important;
    }
  }
}
.bg-tabs-content-white {
  border-top: 1px solid #a9a9a9;
  background: #f7f7f7;
  .card-body {
    color: $primary-dark-color;
  }
}
.text-decoration-none {
  text-decoration: none;
}

.show-tablet {
  display: block;
  @include tablet-lg {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.show-mobile {
  display: block;
  @include tablet {
    display: none;
  }
  @include tablet-lg {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.show-desktop {
  display: block;
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
}

/* End Shared */
