@font-face {
  font-family: "HON-Regular";
  src: url("../fonts/SVN-Avant Garde Gothic ExtraLight.otf");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "HON-Regular";
  src: url("../fonts/SVN-Avant Garde Gothic ExtraLight Italic.otf");
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "HON-Regular";
  src: url("../fonts/SVN-Avant Garde Gothic Book.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HON-Regular";
  src: url("../fonts/SVN-Avant Garde Gothic Book Italic.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "HON-Regular";
  src: url("../fonts/SVN-Avant Garde Gothic Medium.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "HON-Regular";
  src: url("../fonts/SVN-Avant Garde Gothic Medium Italic.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "HON-Regular";
  src: url("../fonts/SVN-Avant Garde Gothic Demi.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HON-Regular";
  src: url("../fonts/SVN-Avant Garde Gothic Demi Italic.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "HON-Regular";
  src: url("../fonts/SVN-Avant Garde Gothic Bold.otf");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "HON-Regular";
  src: url("../fonts/SVN-Avant Garde Gothic Bold Italic.otf");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "HON-Condensed";
  src: url("../fonts/SVN-Avant Garde Gothic Condensed ExtraLight.otf");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "HON-Condensed";
  src: url("../fonts/SVN-Avant Garde Gothic Condensed ExtraLight Italic.otf");
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "HON-Condensed";
  src: url("../fonts/SVN-Avant Garde Gothic Condensed Book.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HON-Condensed";
  src: url("../fonts/SVN-Avant Garde Gothic Condensed Book Italic.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "HON-Condensed";
  src: url("../fonts/SVN-Avant Garde Gothic Condensed Medium.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "HON-Condensed";
  src: url("../fonts/SVN-Avant Garde Gothic Condensed Medium Italic.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "HON-Condensed";
  src: url("../fonts/SVN-Avant Garde Gothic Condensed Demi.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HON-Condensed";
  src: url("../fonts/SVN-Avant Garde Gothic Condensed Demi Italic.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "HON-Condensed";
  src: url("../fonts/SVN-Avant Garde Gothic Condensed Bold.otf");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "HON-Condensed";
  src: url("../fonts/SVN-Avant Garde Gothic Condensed Bold Italic.otf");
  font-weight: bolder;
  font-style: italic;
}
html,
body {
  font-size: 14px;
  font-family: "HON-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  background: #ffffff;
}

header {
  font-weight: 600;
  color: #ffffff;
}
header .btn-primary {
  font-weight: 600;
  background: linear-gradient(to right, #2a2b24, #434d47);
  border-color: #2a2b24;
  box-shadow: none;
}

#site-header-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 999;
}

#site-header {
  position: relative;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 50rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 70rem;
}

/* Since positioning the image, we need to help out the caption */
.custom-caption {
  z-index: 10;
  right: 0;
  top: 26%;
  left: 7%;
}
.custom-caption .title-carousel {
  font-size: 100px;
  font-weight: 600;
}
.custom-caption .sub-title {
  font-size: 48px;
  font-weight: 300;
}
.custom-caption .explore-button {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  border: 3px solid #937b3d;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 40px 30px 40px 17px;
  background: linear-gradient(to right, #2a2b24, #434d47);
  line-height: 2rem;
}
.custom-caption .explore-button .note-icon {
  background: #514935;
  border: 3px solid #937b3d;
  width: 50px;
  height: 50px;
  line-height: 40px;
  top: -12px;
  right: -5px;
}
.custom-caption .btn-date {
  background: linear-gradient(to right, #2a2b24, #434d47);
  border: none;
  color: #ffffff;
}
.custom-caption .footer-carousel .commit-text {
  font-size: 20px;
}
.custom-caption .footer-carousel .custom-description {
  border-left: 1px solid #6e6e6e;
  padding-left: 20px;
  font-size: 14px;
}
.custom-caption .footer-carousel .custom-social {
  width: 34px;
  height: 34px;
  border: 0.5px solid #ffffff;
  line-height: 30px;
}

.carousel-indicators {
  left: 45%;
  bottom: 30px;
  z-index: 99;
}
.carousel-indicators .number-text {
  color: #ffffff;
}
.carousel-indicators .active {
  background: #ecc256;
  background-clip: padding-box;
}

section {
  font-family: sans-serif;
}

.section-best-soil h1 {
  font-size: 50px;
}

.section-video {
  margin-top: 80px;
}
.section-video .modal-dialog {
  max-width: 75% !important;
}
.section-video .modal-dialog .modal-content iframe {
  height: 500px;
}
.section-video .wrap-content .background-join {
  width: 100%;
  height: 45rem;
}
.section-video .wrap-content h2 {
  bottom: 30px;
  color: #cdcdcd;
  left: 100px;
  font-size: 40px;
}
.section-video .wrap-content .play-button {
  cursor: pointer;
  bottom: 50%;
  left: 50%;
}

.section-story {
  margin-top: 80px;
}
.section-story .left-item .image-hon {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 1;
  position: inherit;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.section-story .left-item .text-custom {
  color: #ffffff;
  top: 0;
  padding: 40px;
  z-index: 1;
}
.section-story .left-item .text-custom .title {
  font-size: 60px;
  font-weight: 600;
}
.section-story .left-item .text-custom .title span {
  font-size: 34px;
  font-weight: 400;
}
.section-story .left-item .text-custom .description {
  font-size: 16px;
  width: 70%;
}
.section-story .right-item .hon-title {
  font-size: 80px;
  font-weight: 500;
  color: #8f7250;
}
.section-story .right-item .description {
  font-size: 26px;
  color: #8f7250;
}
.section-story .bg-absolute {
  background: #ddd;
  padding: 50px;
  width: 50%;
  border-bottom-left-radius: 20px;
  bottom: -20%;
  z-index: 0;
}
.section-story .text-story {
  background: #323834;
  color: #fff;
  padding: 30px;
  font-size: 24px;
  width: 52%;
}
.section-story .text-story a {
  color: #fff;
  text-decoration-line: none;
}
.section-story .text-story a:hover {
  color: #937b3d;
}

.section-contact {
  margin-top: 80px;
}
.section-contact .button-contact {
  background: #ecc256;
  color: #2a2b24;
  border: none;
  padding: 10px 40px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

footer {
  font-family: sans-serif;
  font-size: 12px;
  padding-bottom: 30px;
  color: #898989;
  margin-top: 80px;
}
footer .container {
  border-top: 1px solid #c3c3c3;
  padding-top: 30px;
}
footer .container .social {
  width: 34px;
  height: 34px;
  border: 0.5px solid #ffffff;
  line-height: 30px;
  background: #2a2b24;
}

.footer-black {
  background: #323834;
  color: #ffffff;
  padding-top: 30px;
}

/* About Us */
.section-banner {
  color: #ffffff;
}
.section-banner .custom-content-banner .img-banner {
  height: 50rem;
}
.section-banner .custom-content-banner .banner-title {
  z-index: 10;
  right: 0;
  top: 30%;
  left: 7%;
}
.section-banner .custom-content-banner .banner-title h1 {
  font-size: 100px;
  font-weight: 600;
}
.section-banner .custom-content-banner .banner-title .sub-title {
  font-size: 48px;
  font-weight: 300;
}
.section-banner .list-social {
  bottom: 10%;
  right: 7%;
}
.section-banner .list-social .custom-social {
  width: 34px;
  height: 34px;
  border: 0.5px solid #ffffff;
  line-height: 30px;
}

.section-company-history {
  margin-top: 80px;
}
.section-company-history .owl-carousel-company-history {
  margin-top: 40px;
}
.section-company-history .owl-carousel-company-history .item-card .wrap-content img {
  height: 300px;
  border-radius: 10px;
}
.section-company-history .owl-carousel-company-history .item-card .wrap-content .insert-text {
  top: 30px;
  left: 30px;
  width: 70%;
  color: #ffffff;
}
.section-company-history .owl-carousel-company-history .item-card .wrap-content button {
  bottom: 30px;
  left: 30px;
}

.section-leadership {
  margin-top: 80px;
  background: #323834;
}
.section-leadership .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-leadership .owl-carousel-leadership {
  margin-top: 40px;
}
.section-leadership .owl-carousel-leadership .item-card .wrap-content img {
  border-radius: 10px;
}
.section-leadership .owl-carousel-leadership .item-card .wrap-content .insert-text {
  width: 70%;
  color: #ffffff;
}

.section-business {
  margin-top: 80px;
}
.section-business .card-leadership {
  margin-top: 60px;
}
.section-business .card-leadership .left-leadership {
  height: 32rem;
  right: 5%;
  color: #ffffff;
}
.section-business .card-leadership .left-leadership .custom-card-1 {
  right: 130px;
  top: 55px;
}
.section-business .card-leadership .left-leadership .custom-card-1 .img-card-1 {
  border-radius: 15px;
  width: 300px;
  height: 350px;
}
.section-business .card-leadership .left-leadership .custom-card-2 {
  right: 70px;
  top: 30px;
}
.section-business .card-leadership .left-leadership .custom-card-2 .img-card-2 {
  border-radius: 15px;
  width: 320px;
  height: 400px;
}
.section-business .card-leadership .left-leadership .custom-card-3 {
  right: 0;
}
.section-business .card-leadership .left-leadership .custom-card-3 .img-card-3 {
  border-radius: 15px;
  width: 350px;
  height: 450px;
}
.section-business .card-leadership .left-leadership .title-leadership {
  top: 20px;
  left: 20px;
}

.section-respond {
  margin-top: 80px;
  background: #323834;
  color: #ffffff;
}
.section-respond .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-respond .custom-respond {
  margin-top: 40px;
}
.section-respond .custom-respond img {
  border-radius: 15px;
  height: 250px;
}
.section-respond .custom-respond .text-custom {
  top: 0;
  padding: 40px;
  z-index: 1;
}
.section-respond .custom-respond .text-custom .title {
  font-size: 60px;
  font-weight: 600;
}
.section-respond .custom-respond .text-custom .title span {
  font-size: 34px;
  font-weight: 400;
}

.section-development {
  margin-top: 80px;
}
.section-development .custom-carousel-development {
  color: #ffffff;
  margin-top: 40px;
}
.section-development .custom-carousel-development .item-card .card {
  background: #4f5c54;
  border-radius: 10px;
}
.section-development .custom-carousel-development .item-card .card .card-header {
  font-size: 20px;
  font-weight: 400;
  background: #58655e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 40px;
}
.section-development .custom-carousel-development .item-card .card .card-body {
  padding: 20px 40px;
}
.section-development .custom-carousel-development .item-card .card .card-body .card-text {
  font-size: 13px;
  opacity: 0.6;
}
.section-development .custom-carousel-development .item-card .card .card-body img {
  border-radius: 15px;
}

.section-employment {
  margin-top: 80px;
  background: #323834;
  color: #ffffff;
}
.section-employment .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-employment .description {
  padding-top: 80px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
}

.section-customers {
  margin-top: 80px;
}
.section-customers .owl-carousel-customers {
  margin-top: 80px;
}
.section-customers .owl-carousel-customers .wrap-customers img {
  border: 2px solid #d1d1d1;
  width: 250px;
  height: 250px;
}
.section-customers .description {
  margin-top: 40px;
}

/* End About Us */
/* Products */
.section-about-product {
  margin-top: 80px;
}
.section-about-product .right-content {
  width: 40%;
}

.section-natural {
  margin-top: 80px;
}
.section-natural .img-1 {
  height: 450px;
}
.section-natural img {
  border-radius: 15px;
}
.section-natural .wrap-button {
  background: #323834;
  color: #fff !important;
  padding: 15px 40px;
}
.section-natural .wrap-button a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}
.section-natural .wrap-button a:hover {
  color: #ecc256;
}

.section-product-collapse {
  margin-top: 40px;
}
.section-product-collapse .product-item .border-bottom {
  border-bottom: 2px solid #dee2e6 !important;
  padding-top: 10px;
}
.section-product-collapse .product-item .link-product-detail {
  color: #2a2b24;
  font-size: 24px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0.6;
}
.section-product-collapse .product-item .link-product-detail .p-number {
  font-size: 16px;
}
.section-product-collapse .product-item .link-product-detail:hover {
  color: #2a2b24;
  opacity: 0.8;
}
.section-product-collapse .product-item .wrap-product-detail {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 40px;
}
.section-product-collapse .product-item .wrap-product-detail .wrap-content .product-title {
  font-size: 36px;
  font-weight: 600;
}
.section-product-collapse .product-item .wrap-product-detail .wrap-content .product-description {
  font-size: 13px;
}

.product-line-detail {
  color: #ffffff;
  margin-top: 40px;
}
.product-line-detail .product-header {
  font-size: 18px;
  font-weight: 400;
  background: #58655e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 40px;
}
.product-line-detail .product-content {
  background: #4f5c54;
  padding: 20px 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.product-line-detail .product-content .product-description {
  width: 80%;
}
.product-line-detail .product-content .title {
  font-size: 18px;
  font-weight: 400;
}
.product-line-detail .product-content .description {
  margin-top: 20px;
  font-size: 13px;
  opacity: 0.6;
}
.product-line-detail .product-content .list-attachments {
  gap: 5px;
  font-size: 13px;
  margin-top: 20px;
}
.product-line-detail .product-content .list-attachments .attachment-text {
  color: #ffffff;
  font-weight: 600;
  opacity: 0.8;
  text-decoration: none;
}
.product-line-detail .product-content .list-attachments .attachment-text:hover {
  color: #ffffff;
  opacity: 1;
}
.product-line-detail .product-content .product-carousel {
  height: 35rem;
}
.product-line-detail .product-content .product-carousel .carousel-control-prev {
  left: -12%;
}
.product-line-detail .product-content .product-carousel .carousel-control-next {
  right: -12%;
}
.product-line-detail .product-content .product-carousel img {
  height: 35rem;
}

.section-testimonials {
  margin-top: 80px;
}
.section-testimonials .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-testimonials .custom-carousel-testimonials {
  color: #ffffff;
  margin-top: 40px;
}
.section-testimonials .custom-carousel-testimonials .item-card .card {
  background: #4f5c54;
  border-radius: 10px;
}
.section-testimonials .custom-carousel-testimonials .item-card .card .card-header {
  font-size: 18px;
  font-weight: 400;
  background: #58655e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 40px;
}
.section-testimonials .custom-carousel-testimonials .item-card .card .card-body {
  padding: 20px 40px;
}
.section-testimonials .custom-carousel-testimonials .item-card .card .card-body .card-text {
  font-size: 13px;
  opacity: 0.6;
}

.section-organic {
  margin-top: 80px;
  color: #323834;
}
.section-organic .description {
  padding-top: 40px;
  font-size: 16px;
  font-weight: 400;
}

/* Producs */
/* Shared */
.bg-section-dark {
  background: #323834;
}

.bg-tabs-white {
  background: #ddd;
}

.section-tabs {
  margin-top: 80px;
  padding: 40px;
}
.section-tabs .tabs-custom .wrap-tab-lists {
  overflow: auto;
  height: 400px;
  flex-flow: column;
}
.section-tabs .tabs-custom .wrap-tab-lists::-webkit-scrollbar {
  width: 5px;
}
.section-tabs .tabs-custom .wrap-tab-lists::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.section-tabs .tabs-custom .wrap-tab-lists::-webkit-scrollbar-thumb {
  background: #888;
}
.section-tabs .tabs-custom .wrap-tab-lists::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.section-tabs .tabs-custom .tabs-lists .nav-link {
  font-weight: 600;
  font-size: 24px;
  border-radius: 0;
  color: #ffffff;
  opacity: 0.5;
  padding: 30px 0;
}
.section-tabs .tabs-custom .tabs-lists .nav-link .number {
  font-size: 14px;
}
.section-tabs .tabs-custom .tabs-lists .nav-link.active {
  color: #ffffff;
  opacity: 1;
  background: none;
}
.section-tabs .tabs-custom .tabs-lists .border-bottom {
  border-bottom: 1px solid #ffffff;
}
.section-tabs .tabs-custom .icon-arrows {
  left: -45px;
  top: 40%;
}
.section-tabs .tabs-custom .tab-content {
  margin-top: 30px;
  color: #ffffff;
}
.section-tabs .tabs-custom .tab-content .card {
  background: #4f5c54;
  border-radius: 10px;
}
.section-tabs .tabs-custom .tab-content .card .card-header {
  font-size: 26px;
  font-weight: 400;
  background: #58655e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 40px;
}
.section-tabs .tabs-custom .tab-content .card .card-body {
  padding: 20px 40px;
}
.section-tabs .tabs-custom .tab-content .card .card-body .card-title {
  font-size: 26px;
  font-weight: 600;
}
.section-tabs .tabs-custom .tab-content .card .card-body .card-text {
  opacity: 0.6;
}
.section-tabs .tabs-custom .tab-content .card .card-body .action .avatar img {
  border: 4px solid #cecece;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.btn-see-more {
  background: #ecc256;
  color: #2a2b24;
  border: none;
  padding: 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.owl-theme .owl-dots .owl-dot.active span {
  width: 35px;
  height: 3px;
  margin: 3px;
  background: #ecc256;
}

.owl-theme .owl-dots .owl-dot span {
  width: 35px;
  height: 3px;
  margin: 3px;
  background: #5c5c5c;
}

.owl-nav {
  display: none;
}

.owl-dots {
  margin-top: 40px;
}

.wrap-row-white {
  border-bottom: 1px solid #6c6c6c;
  padding-bottom: 20px;
  align-items: center;
}
.wrap-row-white .right-content-gray {
  font-weight: 600;
  color: #6c6c6c;
}

.wrap-row-black {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 20px;
  align-items: center;
  color: #ffffff;
}
.wrap-row-black .right-content-white {
  font-weight: 600;
}

/* End Shared *//*# sourceMappingURL=styles.css.map */